{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
<body>
    {# NavBar #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 mx-3">Quiller.ma</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_candidate') }}"
                        >My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_candidates_cv_builder') }}">CV Builder</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right fs-5"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {#   Profile Section   #}
    <section class="mb-5" >
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 d-flex justify-content-center align-items-center">
                            <img class="w-50"
                                 src="{{ asset('Images/userAccount-svg.svg') }}"
                            >
                        </div>
                        <div class="col-4 offset-1 p-3 px-5 border-start border-dark">
                            <div>
                                <h2>{{ candidate.firstName}} {{ candidate.lastName }}</h2>
                                <p> <strong>Email:</strong> {{ candidate.email }} </p>
                                <p> <strong>Phone Number:</strong>  {{ candidate.phoneNumber }} </p>
                                <p> <strong>Applications count:</strong> 12</p>
                                <a href="{{ path('app_candidates_updateinfo') }}" class="btn btn-primary">Update Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#  Display Applications  #}
    <section class="mb-5">
        <div class="container">
            <div class="card p-2">
                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                <a>
                    <h1><i class="bi bi-arrow-right"> </i> Jobs' Applications</h1>
                </a>
                <div class="bard-body p-5 ">
                    {% for app in applications %}
                    <div class="border-bottom border-dark mb-4 pb-4">
                        <h3>{{ app.jobListingId.title  }}</h3>
                        <p>Description:   {{ app.jobListingId.description  }} </p>
                        <p>Salary:  {{ app.jobListingId.salary }}</p>
                        <p>Location:  {{ app.jobListingId.location }}</p>
                        <p>Qualifications:  {{ app.jobListingId.qualifications}}</p>
{#                            <a class="btn btn-danger">Stat</a>#}
                        <a href="{{ path('app_candidates_cancel_application',
                            { 'jobsId': app.jobListingId.id }
                        ) }}" class="btn btn-secondary">Cancel</a>
                        <a class="btn btn-secondary">Send Email</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {#  Setting Section  #}
{#    <section class="mb-5">#}
{#        <div class="container">#}
{#            <div class="card p-2">#}
{#                <a>#}
{#                    <h1><i class="bi bi-gear-fill"> </i>Settings</h1>#}
{#                    <div class="card-body">#}

{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {# Saved Jobs: #}
    <section class="mb-5">
        <div class="container">
            <div class="card p-2">
                <a>
                    <h1><i class="bi bi-save-fill">   </i>Saved Jobs</h1>
                    <div class="card-body">
                        <div class="card-body border rounded border-dark mb-3">
                            <div class="d-flex justify-content-between">
                                <h3>Job's title</h3>
                                <p>location: Casablanca</p>
                                <div>
                                    <a class="btn btn-dark text-light">
                                        unsave
                                    </a>
                                    <a class="btn btn-dark text-light">
                                        view
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border rounded border-dark mb-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3>Job's title</h3>
                                    <p>location: Casablanca</p>
                                </div>
                                <div>
                                    <a class="btn btn-dark text-light">
                                        unsave
                                    </a>
                                    <a class="btn btn-dark text-light">
                                        view
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
        </div>
    </section>

    {# Recommended Jobs #}
{#    <section class="mb-5">#}
{#        <div class="container">#}
{#            <div class="card p-2">#}
{#                <h1>recommended jobs</h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {# Messages Section from Employers #}
{#    <section class="mb-5">#}
{#        <div class="container">#}
{#            <div class="card p-2">#}
{#                <h1>messaging</h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <footer class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p>&copy; Quiller.ma for recruitment 2023</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ path('app_homepage') }}">Home</a>
                        </li>
                        <li class="list-inline-item"><a href="#">About Us</a></li>
                        <li class="list-inline-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
{% endblock %}