{% extends '/base.html.twig' %}

{% block body %}
<body>
    {# NavBar #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 mx-3">Quiller.ma</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    {% if is_granted('ROLE_CANDIDATE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_candidate') }}"
                            >My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_candidates_cv_builder') }}">CV Builder</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right fs-5"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="nav-link">log in</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_register') }}" class="nav-link">sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {#  Update Profile Form Section  #}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Candidate Edit</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <input type="hidden" name="candidate_id">

                            <div class="mb-3">
                                <label>Photo:</label>
                                <input type="file" name="photo"  class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Candidate First Name</label>
                                <input type="text" name="first-name"  class="form-control">
                            </div>

                            <div class="mb-3">
                                <label>Candidate First Name</label>
                                <input type="text" name="last-name"  class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Candidate Email</label>
                                <input type="email" name="email"  class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Candidate Phone</label>
                                <input type="text" name="phone"  class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Candidate Resume</label>
                                <input type="file" name="resume" class="form-control">
                            </div>
                            <div class="mb-3">
                                <a href="{{ path('app_candidates_updateinfo') }}">
                                    <button type="submit" class="btn btn-primary">
                                        Update Candidate
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}


    {% for message in app.session.flashbag.get('failure') %}
        <div class="alert alert-failure">{{ message }}</div>
    {% endfor %}

    {# footer #}
    <footer class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p>&copy; Quiller.ma for recruitment 2023</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ path('app_homepage') }}">Home</a>
                        </li>
                        <li class="list-inline-item"><a href="#">About Us</a></li>
                        <li class="list-inline-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
{% endblock %}

