{% extends '/base.html.twig' %}


{% block body %}
<body>
    {#  navbar  #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 mx-3">Quiller.ma</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_candidate') }}"
                        >My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_candidates_cv_builder') }}">CV Builder</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right fs-5"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {#  form section  #}
    <section class="mb-5" >
        <div class="container">
            <div class="card">
                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}


                {% for message in app.session.flashbag.get('failure') %}
                    <div class="alert alert-failure">{{ message }}</div>
                {% endfor %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 d-flex justify-content-center align-items-center">
                            <img class="w-75 h-100"
                                 src="{{ asset('Images/bg-apply.jpg') }}"
                            >
                        </div>
                        <div class="col-4 offset-1 p-3 px-5 border-start border-dark">
                            {{ form_start(applicationForm) }}
                                {{ form_row(applicationForm.applicantName, { 'attr': { 'class': 'form-control' } } ) }}
                                {{ form_row(applicationForm.applicantEmail, { 'attr': { 'class': 'form-control' } }) }}
                                {{ form_row(applicationForm.applicantPhoneNumber, { 'attr': { 'class': 'form-control' } }) }}
                                {{ form_row(applicationForm.resume, { 'attr': { 'class': 'form-control' } }) }}
                                {{ form_row(applicationForm.coverLetter, { 'attr': { 'class': 'form-control' } }) }}
                                <button type="submit" class="btn btn-dark mt-4">Submit</button>
                            {{ form_end(applicationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#  footer  #}
    <footer class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p>&copy; Quiller.ma for recruitment 2023</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ path('app_homepage') }}">Home</a>
                        </li>
                        <li class="list-inline-item"><a href="#">About Us</a></li>
                        <li class="list-inline-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
{% endblock %}