{% extends '/base.html.twig' %}



{% block body %}
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 mx-3">Quiller.ma</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_candidate') }}"
                        >My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_candidates_cv_builder') }}">CV Builder</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right fs-5"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <section class="mb-5 min-vh-100">
            <div class="container">
                <div class="card p-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="p-5 mt-5">
                                <h2 class="mb-5">Create Your CV Now with Our CV Builder</h2>
                                {{ form_start(resumeForm) }}
                                    {{ form_row(resumeForm.firstName, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.lastName, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.email, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.phoneNumber, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.birthdate, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.address, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.gender, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.language, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.language_level, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.city, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    {{ form_row(resumeForm.social_media, { 'attr': {'class': 'form-control mb-2'} }) }}
                                    <button type="submit" class="btn btn-dark px-4 py-2 mt-5">Next <i class="bi bi-arrow-right"></i></button>
                                {{ form_end(resumeForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start">
                        <p>&copy; Quiller.ma for recruitment 2023</p>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="{{ path('app_homepage') }}">Home</a>
                            </li>
                            <li class="list-inline-item"><a href="#">About Us</a></li>
                            <li class="list-inline-item"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
{% endblock %}