<!DOCTYPE html>
<html>
<head>
    <title>Personal Information</title>
</head>
<body>
<h1>Personal Information</h1>
<p>First Name: {{ firstName }}</p>
<p>Last Name: {{ lastName }}</p>
<p>Email: {{ email }}</p>
<p>Phone Number: {{ phoneNumber }}</p>
<p>Birthdate: {{ birthdate|date('m/d/Y') }}</p>
<p>Address: {{ address }}</p>
</body>
</html>
